<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>List.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>WatchList Extension.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>WatchList.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1428A8BE2257DFA300209580</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1428A90D2257E76400209580</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1484DC7821F66EFB00A1A723</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1484DC8F21F66EFD00A1A723</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
